In [31]:
import pandas as pd
import numpy as np

NROWS=10000

identity = pd.read_csv('../data/raw/train_identity.csv', nrows=NROWS)
transaction = pd.read_csv('../data/raw/train_transaction.csv', nrows=NROWS)

In [3]:
train = pd.merge(transaction, identity, on='TransactionID', how='left')
train.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M

In [11]:
BASIC_COLUMNS = ['TransactionAmt', 'ProductCD', 
                 'card1', 'card2', 'card3', 'card4', 'card5', 'card6', 
                 'addr1', 'addr2', 
                 'dist1', 'dist2', 
                 'P_emaildomain', 'R_emaildomain']

In [20]:
train[BASIC_COLUMNS].describe()

,TransactionAmt,card1,card2,card3,card5,addr1,addr2,dist1,dist2
count,10000.000000,10000.000000,9881.000000,9999.000000,9978.000000,9087.000000,9087.000000,3385.000000,378.000000
mean,131.532165,9825.539700,349.267483,152.733973,200.322008,292.443711,87.006933,115.919055,290.481481
std,215.136534,4776.768939,157.779179,10.195412,39.085677,103.678309,0.249711,345.116513,618.451258
min,1.896000,1011.000000,100.000000,100.000000,100.000000,110.000000,87.000000,0.000000,0.000000
25%,44.000000,6381.000000,194.000000,150.000000,166.000000,204.000000,87.000000,3.000000,7.000000
50%,74.950000,9500.000000,327.000000,150.000000,226.000000,299.000000,87.000000,8.000000,37.500000
75%,131.058000,13780.000000,500.000000,150.000000,226.000000,330.000000,87.000000,26.000000,285.000000
max,3247.910000,18390.000000,600.000000,225.000000,237.000000,536.000000,96.000000,4474.000000,5521.000000

In [17]:
for col in BASIC_COLUMNS:
    print(col, train[col].isnull().mean())

TransactionAmt 0.0
ProductCD 0.0
card1 0.0
card2 0.0119
card3 0.0001
card4 0.0001
card5 0.0022
card6 0.0001
addr1 0.0913
addr2 0.0913
dist1 0.6615
dist2 0.9622
P_emaildomain 0.2105
R_emaildomain 0.8375

In [21]:
CAT_COLUMNS = ['ProductCD', 'card4', 'card6', 'P_emaildomain', 'R_emaildomain']

In [23]:
for col in CAT_COLUMNS:
    display(train[col].value_counts())
    print()

W    7709
C     906
H     871
R     305
S     209
Name: ProductCD, dtype: int64

visa                6209
mastercard          3586
american express     112
discover              92
Name: card4, dtype: int64

debit     7891
credit    2108
Name: card6, dtype: int64

gmail.com           3677
yahoo.com           1726
hotmail.com          633
anonymous.com        490
aol.com              418
comcast.net          153
icloud.com            98
outlook.com           84
msn.com               59
att.net               53
charter.net           51
sbcglobal.net         50
verizon.net           49
ymail.com             44
live.com              43
me.com                31
bellsouth.net         31
yahoo.com.mx          23
rocketmail.com        18
cox.net               18
live.com.mx           16
roadrunner.com        14
optonline.net         14
hotmail.es            13
gmail                 10
mail.com               8
juno.com               7
web.de                 6
earthlink.net          6
mac.com                5
windstream.net         5
frontiernet.net        5
frontier.com           3
centurylink.net        3
suddenlink.net         3
aim.com                3
twc.com                3
netzero.com            3
gmx.de                 2
outlook.es             2
prodigy.net.mx         2
embarqmail.com         2
cfl.rr.com             2
q.com                  2
cableone.net           2
servicios-ta.com       1
yahoo.fr               1
yahoo.es               1
yahoo.de               1
netzero.net            1
Name: P_emaildomain, dtype: int64

gmail.com           642
hotmail.com         346
anonymous.com       233
yahoo.com           124
outlook.com          64
comcast.net          31
yahoo.com.mx         23
aol.com              22
icloud.com           18
live.com.mx          16
hotmail.es           13
live.com             11
msn.com               9
verizon.net           7
me.com                6
web.de                6
ymail.com             6
bellsouth.net         5
cox.net               4
optonline.net         4
sbcglobal.net         4
mac.com               3
mail.com              3
att.net               3
embarqmail.com        2
prodigy.net.mx        2
roadrunner.com        2
outlook.es            2
gmx.de                2
charter.net           2
juno.com              2
aim.com               1
yahoo.es              1
scranton.edu          1
yahoo.fr              1
yahoo.de              1
earthlink.net         1
servicios-ta.com      1
twc.com               1
Name: R_emaildomain, dtype: int64

In [25]:
train['P_emaildomain'].value_counts()

gmail.com           3677
yahoo.com           1726
hotmail.com          633
anonymous.com        490
aol.com              418
comcast.net          153
icloud.com            98
outlook.com           84
msn.com               59
att.net               53
charter.net           51
sbcglobal.net         50
verizon.net           49
ymail.com             44
live.com              43
me.com                31
bellsouth.net         31
yahoo.com.mx          23
rocketmail.com        18
cox.net               18
live.com.mx           16
roadrunner.com        14
optonline.net         14
hotmail.es            13
gmail                 10
mail.com               8
juno.com               7
web.de                 6
earthlink.net          6
mac.com                5
windstream.net         5
frontiernet.net        5
frontier.com           3
centurylink.net        3
suddenlink.net         3
aim.com                3
twc.com                3
netzero.com            3
gmx.de                 2
outlook.es             2
prodigy.net.mx         2
embarqmail.com         2
cfl.rr.com             2
q.com                  2
cableone.net           2
servicios-ta.com       1
yahoo.fr               1
yahoo.es               1
yahoo.de               1
netzero.net            1
Name: P_emaildomain, dtype: int64

In [44]:
from collections import OrderedDict
from pandarallel import pandarallel
pandarallel.initialize()

def split_email(x, colname):
    if type(x) == float and np.isnan(x):
        email_first, email_rest = None, None
    else:
        split = x.split('.')
        email_first = split[0]
        email_rest = '.'.join(split[1:])
    return pd.Series(OrderedDict([('{}_first'.format(colname),email_first),
                                  ('{}_rest'.format(colname),email_rest)]))

train['P_emaildomain'].parallel_apply(lambda x: split_email(x, colname='P_emaildomain'))
train['R_emaildomain'].parallel_apply(lambda x: split_email(x, colname='R_emaildomain'))

New pandarallel memory created - Size: 2000 MB
Pandarallel will run on 4 workers

     R_emaildomain_first R_emaildomain_rest
0                   None               None
1                   None               None
2                   None               None
3                   None               None
4                   None               None
5                   None               None
6                   None               None
7                   None               None
8                   None               None
9                   None               None
10                 gmail                com
11               hotmail                com
12                  None               None
13                  None               None
14                  None               None
15                  None               None
16                  None               None
17                  None               None
18                  None               None
19                  None               None
20                  None               None
21                  None               None
22                  None               None
23                  None               None
24                  None               None
25                  None               None
26                  None               None
27                  None               None
28                  None               None
29                  None               None
...                  ...                ...
9970                None               None
9971                None               None
9972               yahoo                 es
9973                None               None
9974                None               None
9975               gmail                com
9976                None               None
9977                None               None
9978                None               None
9979                None               None
9980                None               None
9981                None               None
9982           anonymous                com
9983                None               None
9984                None               None
9985                None               None
9986                None               None
9987                None               None
9988               gmail                com
9989                None               None
9990                None               None
9991                None               None
9992                None               None
9993               gmail                com
9994               gmail                com
9995                None               None
9996                None               None
9997                None               None
9998                None               None
9999                None               None

[10000 rows x 2 columns]